*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: flex-end;
  gap: 30px;
  width: 100%;
  height: 534px;
  padding-top: 500px;
  padding-bottom: 500px; 
}

.search-form {
  display: flex;
  gap: 40px;
  width: 711px;
  align-items: center;
}

.content__list-container {
  width: 399px;
  height: 534px;
  overflow-y: auto;
}

.content__details {
  display: flex;
  gap: 20px;
  height: 520px;
  flex-direction: column;
  justify-content: end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  padding-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  position: relative;
}

.content__video-card {
  display: flex;
  align-items: flex-start; 
  gap: 10px;
}

.content__video-card-thumbnail {
  width: 194px; 
  height: 103px; 
  position: relative;
  overflow: hidden;
}

.content__video-card-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1; 
  min-width: 0; 
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.content__video-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  line-height: 16.2px;
  font-size: 18px;
  line-clamp: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__textfield {
  width: 240px;
  line-height: 22px;
  font-size: 18px;
  background: transparent;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  appearance: none;
  color: white;
}
.search-form__label:focus {
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
  outline-offset: 10px;
}
.search-form__textfield:has(:focus-visible) {
  outline: 1px solid white;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__label-text {
  cursor: pointer;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  background-color: transparent;
  position: relative;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; 
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: white;
  border: 1px solid transparent;
  opacity: 0;
}


.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: transparent; 
  border: 1px solid white; 
}


.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}


.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.button {
  width: 194px;
  height: 34px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 100%;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.button:has(:focus-visible) {
  outline: 2px solid white;
  outline-offset: 2px;
}

.more-button {
  margin-top: 30px;
  width: 395px;
  height: 34px;
}

.search-form__submit-button {
  padding: 6px 20px;
  width: 100%;
  align-self: flex-end;
}

.content__list-item {
  padding: 0 3px; 
}

.content__card-link {
  display: block;
}
.content__card-link_current {
  background-color: rgba(255, 255, 255, 0.2); 
}

.content__card-link_current:active {
  background-color: rgba(255, 255, 255, 0.2); 
}

.content__video-card-description-container:hover {
  text-decoration: underline;
  
}

.content__card-link:focus {
  outline: none; 
}

.content__card-link:focus-visible {
  outline: 2px solid white; 
  outline-offset: 2px;
}
